//-
  ВНИМАНИЕ! Этот файл генерируется автоматически.
  Любые изменения этого файла будут потеряны при следующей компиляции.
  Любое изменение проекта без возможности компиляции ДОЛЬШЕ И ДОРОЖЕ в 2-5 раз.

include ../blocks/counter/counter.pug
include ../blocks/icon/icon.pug
include ../blocks/navbar/navbar.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/side-menu/side-menu.pug
include ../blocks/toggle/toggle.pug
